<!DOCTYPE html>
<html>

<head>
    <script src="../../scripts/myscript.js"></script>
    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="icon" href="../../images/logo.png">
    <title>Lesson 1
    </title>

</head>

<body style="font-family: Calibri, sans-serif;">
    <div style="display: inline-block; width: 100%;">
        <!-- <img src="../../images/logo.png" alt="construxercise_logo" style="width: 100px;
        height: 100px; float: left; margin: 15px;"> -->
        <!-- width="150px" height=" 150px"> -->
        
        <img src="../../images/txtlogo.png" alt="Construxercise" style="height: 150px;">
        <!-- <h1 style="font-size: 55px; font-weight:normal;display: inline;">Construxercise!</h1>
        <h2 style="font-size: 30px; font-weight:normal;">Hands-on learning of Russian constructions</h2> -->
    </div>

<div class="grid-container">
    <a class="grid-item_1" href="../../index.html">HOME</a>
    <a class="grid-item_2" id="lesson_btn" href="../lessons.html">LESSONS</a>
    <div class="grid-item_2" id="constr_btn">FUNCTIONS</div>
    <div class="grid-item_1">ABOUT</div>
</div>
    <h1 class="first_indent" id="constr_1">Урок 1. Знакомство</h2>
    <h2 class="first_indent">1 Упражнение на узнавание конструкций в микротексте.</h3>
    <p class="second_indent">Для чего нужны конструкции, выделенные в тексте? Что они обозначают?<br><br>
        Познакомьтесь! Матвей Белов – студент медицинского факультета. Кроме того, Матвей
занимается каратэ и хорошо плавает. Матвей не только учится, но и работает санитаром в
больнице.<br> Это полезный опыт, к тому же неплохая зарплата. Кстати говоря, в этой
больнице лежала моя тëтя. Она говорит, что Матвей – замечательный санитар и, плюс ко
всему, у него очень хорошее чувство юмора.<br><br>
Это Ирина. Она талантливая певица. Ирина не только отлично поет, но и прекрасно играет
на гитаре. Кстати говоря, гитару Ирине подарил отец.
    </p>

    <h3 class="first_indent">2. Переформулируйте предложения, используя конструкцию <b>не только XP, но и XP.</b></h3>
    <p class="second_indent">a. Роман хорошо играет в футбол и фотографирует.</p>
    <label class="second_indent" for="answer">Ответ:</label>
    <input class="second_indent" type="text">
    <p class="second_indent">б. София красиво поëт и играет на пианино.</p>
   <label class="second_indent" for="answer">Ответ:</label>
   <input class="second_indent" id="test_answer" type="text"><br>
   <button class="second_indent" onclick="ShowAndHide()">Проверить</button>
   <div class="second_indent" id="answer_result"></div>
   <p class="second_indent">в. Даниил плохо видит и носит очки.</p>
    <label class="second_indent" for="answer">Ответ:</label>
    <input class="second_indent" type="text">

    <h3 class="first_indent">3. Составьте предложения из кусочков.</h3>

    <p class="second_indent">Соотнесите части предложений.<br><br></p>
        <table class="second_indent" style="width: 500px">
            <tr>
                <td>Егор любит </td>
                <td rowspan="5">Не только V, но и V</td>
                <td>играть на компьютере<br>
                    придумывать свои игры</td>
            </tr>
            <tr>
                <td>Полине нравится</td>
                <td>готовить еду<br>
                    придумывать свои рецепты</td>
            </tr>
            <tr>
                <td>Степан хочет</td>
                <td>много путешествовать<br>
                    делать видеоблог</td>
            </tr>
            <tr>
                <td>Стас планирует</td>
                <td>изучать анатомию<br>
                    стать кардиохирургом</td>
            </tr>
            <tr>
                <td>Михаил мечтает</td>
                <td>работать переводчиком<br>
                    написать свою книгу</td>
            </tr>
            <tr>
                <td>Инна</td>
                <td rowspan="4">не только Adj, но и Adj</td>
                <td>умная<br>
                    красивая</td>
            </tr>
            <tr>
                <td>Игорь</td>
                <td>добрый<br>
                    вежливый</td>
            </tr>
            <tr>
                <td>Валентина</td>
                <td>приятная<br>
                    ответственная</td>
            </tr>
            <tr>
                <td>Максим</td>
                <td>весëлый<br>
                    пунктуальный</td>
            </tr>
            <tr>
                <td>Я много путешествовал</td>
                <td rowspan="2">не только Prep+N, но и Prep+N</td>
                <td>в Америке<br>
                    в Азии</td>
            </tr>
            <tr>
                <td>Сергей много знает</td>
                <td>о космосе<br>
                    о ракетах</td>
            </tr>
        </table>
    


    <h3 class="first_indent">4. Еще одно бонусное упражнение на конструкцию не только XP, но и XP</h3>
    <p class="second_indent">Для первой части предложения в левом столбце таблицы подберите логичное продолжение из правого столбца.<br> Для каждого предложения назовите часть речи тех слов, которые связаны конструкцией не только XP, но и XP</p>
    
    <table class="second_indent" style="width: 650px">
        <tr>
            <td>1. Я люблю не только книги про Шерлока Холмса,<br><br>
                2. Он был не только талантливым писателем,<br><br>
                3. Не только школьники,<br><br>
                4. Ксюша - самая красивая девочка не только в нашем классе,<br><br>
                5. Он не только отлично плавал,
            </td>
            <td>a. но и во всей школе!<br><br>
                b. но и вкусно готовил.<br><br>
                c. но и умным политиком.<br><br>
                d. но и учителя выбежали на улицу играть в снежки.<br><br>
                e. но и фильмы о нём.
            </td>
        </tr>
    </table>
    <label class="second_indent" for="answer">Ответ:</label><br>
    <input class="second_indent" type="text" placeholder="1A, 2B, 3C, 4D, 5E">


    <h3 class="first_indent">5. Соедините два предложения в одно с помощью (а) кроме того.</h3>
    <p class="second_indent">Пример:
        Иван пережил много невероятных приключений. Он мог увлекательно рассказать о них.<br>
        <i>Иван пережил много невероятных приключений, (а) кроме того, он мог увлекательно
        рассказать о них.</i><br>
    </p>
    <ol class="second_indent">
        <li>Мы сами выращиваем на даче овощи и фрукты. Мы собираем в лесу ягоды.</li>
        <li>Я люблю фильмы про природу. Мне нравится фантастика.</li>
    </ol>
    
    <h3 class="first_indent">6. Замените и на а кроме того</h3>
    <p class="second_indent">Пример:
        Вчера я решил убраться во всем доме и выбросить мусор.<br>
        <i>Вчера я решил убраться во всем доме, а кроме того, выбросить мусор.</i><br>
    </p>
    <ol class="second_indent">
        <li>Моя подруга очень умная и веселая.</li>
        <li>Мы хотим купить новый автомобиль и продать старый.</li>
    </ol>
    <h3 class="first_indent">7. Вставьте на место пропусков вдобавок к вместе с существительным или
    местоимением, указанным в скобках (используйте дательный падеж).</h3>

    <p class="second_indent">Вика заболела. Вчера она весь день кашляла, а сегодня
        <input type="text">
        (кашель), у нее
        начался насморк. Она не пошла в университет, поэтому теперь ей нужно читать<br>
        учебник <input type="text"> (домашнее задание). Надеюсь, что она скоро выздоровеет, ведь мы в эти
        выходные хотели сходить в кино, и <input type="text"> (это) в ресторан.<br> Вика любит старые
        фильмы, потому что они интересные, добрые, а <input type="text"> (всё) еще и красивые.</p>
        <button class="second_indent">Проверить</button>
</body>

</html>