<!DOCTYPE html>
<html>

<head>
    <script src="../scripts/myscript.js"></script>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="icon" href="../images/logo.png">
    <title>Lessons
    </title>

</head>

<body style="font-family: Calibri, sans-serif;">
    <div style="display: inline-block; width: 100%;">
        <!-- <img src="../images/logo.png" alt="construxercise_logo" style="width: 100px;
        height: 100px; float: left; margin: 15px;"> -->
        
        <img src="../images/txtlogo.png" alt="Construxercise" style="height: 150px;">
        <!-- <h1 style="font-size: 55px; font-weight:normal;display: inline;">Construxercise!</h1>
        <h2 style="font-size: 30px; font-weight:normal;">Hands-on learning of Russian constructions</h2> -->
    </div>

<div class="grid-container">
    <a class="grid-item_1" href="../index.html">HOME</a>
    <a class="grid-item_2" id="lesson_btn" href="lessons.html">LESSONS</a>
    <div class="grid-item_2" id="constr_btn">FUNCTIONS</div>
    <div class="grid-item_1">ABOUT</div>
</div>

    <table class="first_indent" id="lesson_cont">
        <tr class="lesson_cont_row">
            <td class="no_border"><a href="lessons/one.html" class="no_undscr">1 Знакомство. Introducing oneself</a></td>
        </tr>
        <tr class="lesson_cont_row">
            <td class="no_border"><a href="#constr_2" class="no_undscr">2 Документы. Documents</a></td>
        </tr>
        <tr class="lesson_cont_row">
            <td class="no_border"><a href="#constr_3" class="no_undscr">3 Работа. Job</a></td>
        </tr>
        <tr class="lesson_cont_row">
            <td class="no_border"><a href="#constr_4" class="no_undscr">4 Здоровье. Health</a></td>
        </tr>
        <tr class="lesson_cont_row">
            <td class="no_border"><a href="#constr_5" class="no_undscr">5 Закрепление. Revision</a></td>
        </tr>
        <tr class="lesson_cont_row">
            <td class="no_border"><a href="#constr_6" class="no_undscr">6 Транспорт. Transportation</a></td>
        </tr>
        <tr class="lesson_cont_row">
            <td class="no_border"><a href="#constr_7" class="no_undscr">7 Праздники. Holidays</a></td>
        </tr>
        <tr class="lesson_cont_row">
            <td class="no_border"><a href="#constr_8" class="no_undscr">8 Еда. Food</a></td>
        </tr>
        <tr class="lesson_cont_row">
            <td class="no_border"><a href="#constr_8" class="no_undscr">9 Внешность. Appearance</a></td>
        </tr>
        <tr class="lesson_cont_row">
            <td class="no_border"><a href="#constr_8" class="no_undscr">10 Характер. Personality</a></td>
        </tr>
        <tr class="lesson_cont_row">
            <td class="no_border"><a href="#constr_11" class="no_undscr">11 Одежда. Clothes</a></td>
        </tr>
        <tr class="lesson_cont_row">
            <td class="no_border"><a href="#constr_11" class="no_undscr">12 Закрепление. Revision</a></td>
        </tr>
    </table>
    
    <div class="images_block">
        <img class="images" src="../images/constructicon.png" alt="constructicon" style="width: 200px;">
        <img class="images" src="../images/uit.png" alt="constructicon" style="height: 50px;">
        <img class="images" src="../images/hse.svg" alt="constructicon" style="height: 50px;">
        <img  src="../images/hkdir.png" alt="constructicon" style="height: 80px;">
    </div>
</body>