<!DOCTYPE html>
<html>

<head>
    <script src="../scripts/myscript.js"></script>
    <link rel="stylesheet" href="../styles/style.css">
    <title>Упражнения
    </title>

</head>

<body style="font-family: Calibri, sans-serif;">
    <div style="display: inline-block; width: 100%;">
        <img src="../images/logo.png" alt="construxercise_logo" style="width: 100px;
        height: 100px; float: left; margin: 15px;">
        <!-- width="150px" height=" 150px"> -->
        
        <h1 style="font-size: 55px; font-weight:normal;display: inline;">Construxercise!</h1>
        <h2 style="font-size: 30px; font-weight:normal;">Hands-on learning of Russian constructions</h2>
    </div>

<div class="grid-container">
    <a class="grid-item_1" href="../index.html">HOME</a>
    <a class="grid-item_2" href="lessons.html">LESSONS</a>
    <div class="grid-item_2">CONSTRUCTIONS</div>
    <div class="grid-item_1">ABOUT</div>
</div>

    <table class="first_indent">
        <tr>
            <td><a href="lessons/one.html">1 Знакомство. Introducing oneself</a></td>
        </tr>
        <tr>
            <td><a href="#constr_2">Урок 2.</a></td>
        </tr>
        <tr>
            <td><a href="#constr_3">Урок 3</a></td>
        </tr>
        <tr>
            <td><a href="#constr_4">Урок 4</a></td>
        </tr>
        <tr>
            <td><a href="#constr_5">Урок 5</a></td>
        </tr>
        <tr>
            <td><a href="#constr_6">Урок 6</a></td>
        </tr>
        <tr>
            <td><a href="#constr_7">Урок 7</a></td>
        </tr>
        <tr>
            <td><a href="#constr_8">Урок 8</a></td>
        </tr>
    </table>

