/* body {
    background-color: rgb(209, 229, 235);
} */

/* table, tr,  */
td {
    border: 1px solid black;
  }

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  text-align: center;
}

#container p
{ display: inline }

.grid-item_1 {
  background-color: rgb(74, 113, 241);
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
}

.grid-item_2 {
  background-color: rgba(222, 230, 252, 0.979);
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  color:rgb(74, 113, 241);
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
}

#lang_level {
    position: relative;
    right: 10px;
    top: 20px;
    float: right;
    border: 1px solid black;
    padding-top: 5px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 1px;
}


.first_indent {
    position: relative;
    left: 50px;
    top: 20px;
}

.normal_label {
    position: relative;
    left: 0px;
    top: 0px;
}

.second_indent {
    position: relative;
    left: 80px;
    top: 20px;
}


.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }

  .images_block {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    position: absolute;
    bottom: 0px;
  }

  .images {
    position: relative;
    margin-left: 20px;
    margin-right: 100px;
    margin-bottom: 20px;
  }